<div class="wrapper">

    <div class="container">
        <div class="text-center">
            <h1>Skills</h1>
        </div>
    </div>

        <div class="row">
                <h5 class="text-center">Web Development (Full Stack)</h5>
                <ul class="list-group bg-light">
                    <li class="list-group-item">JavaScript</li>
                    <li class="list-group-item">AngularJS</li>
                    <li class="list-group-item">React.js</li>
                    <li class="list-group-item">Vue.js</li>
                    <li class="list-group-item">C#</li>
                    <li class="list-group-item">.NET Core & ASP.NET Core</li>
                    <li class="list-group-item">SQL</li>
                </ul>
                <h5 class="text-center two">General Purpose</h5>
                <ul class="list-group bg-light">
                    <li class="list-group-item">Java</li>
                    <li class="list-group-item">Python</li>
                    <li class="list-group-item">C++</li>
                    <li class="list-group-item">C</li>
                    <li class="list-group-item">Agile Development Methodologies</li>
                </ul>
        </div>

</div>