<div class="wrapper">

    <div class="container">
        <div class="text-center">
            <h1>Skills</h1>
        </div>
    </div>

        <div class="row">
            <div class="col-lg">
                <h5 class="text-center">Web/API Development</h5>
                <ul class="list-group bg-light">
                    <li class="list-group-item">JavaScript & TypeScript</li>
                    <li class="list-group-item">Angular</li>
                    <li class="list-group-item">C#</li>
                    <li class="list-group-item">.NET Core Web APIs</li>
                    <li class="list-group-item">Entity Framework Core</li>
                    <li class="list-group-item">MSSQL</li>
                    <li class="list-group-item">MySQL</li>
                </ul>
            </div>
            <div class="col-lg">
                <h5 class="text-center">General Purpose</h5>
                <ul class="list-group bg-light">
                    <li class="list-group-item">AWS Cloud Computing</li>
                    <li class="list-group-item">Agile Development Methodologies</li>
                    <li class="list-group-item">Azure Dev Ops</li>
                    <li class="list-group-item">Github</li>
                    <li class="list-group-item">Java</li>
                    <li class="list-group-item">Python</li>
                    <li class="list-group-item">C++</li>
                </ul>
            </div>

        </div>

</div>