.container.one {
    padding: 40px;
}

.container.one .text-center h1 {
    margin-bottom: 20px;
    color: rgb(73, 94, 126);
}

.container.two {
    padding: 20px;
}

.row {
    padding: 30px;
}

.text {
    margin-top: auto;
    margin-bottom: auto;
}