<div class="bg-light">

    <div class="container wrapper">
        <div class="text-center">
            <h1>Experience</h1>
        </div>

        <div class="container content">

            <!--KIMLEY HORN-->
            <div class="row exp">
                <div class="col-lg-3">
                    <img class="center-block" src="../../assets/images/KH.jpg" alt="Kimley-Horn" style="width:140px;height:auto;">
                </div>
                <div class="col-lg-4 text">
                    <br>
                    <h4>Kimley Horn</h4>
                    <h6>Software Developer Intern</h6>
                    <p>Raleigh, NC &nbsp; May 2022-August 2022</p>
                </div>
                <div class="col-lg-5 text">
                    <p>{{ kimleyExp }}</p>
                </div>
            </div>

            <!--SCHNEIDER ELECTRIC-->
            <div class="row exp">
                <div class="col-lg-3">
                    <img class="center-block" src="../../assets/images/SE.jpg" alt="Schneider Electric" style="width:140px;height:auto;">
                </div>
                <div class="col-lg-4 text">
                    <h4>Schneider Electric</h4>
                    <h6>Software Engineer Intern</h6>
                    <p>Seneca, SC &nbsp; May 2021-August 2021</p>
                </div>
                <div class="col-lg-5 text">
                    <p>{{ schneiderExp }}</p>
                </div>
            </div>

        </div>
</div>