.wrapper {
    padding: 40px;
}

.wrapper h1 {
    margin-bottom: 20px;
    color: rgb(73, 94, 126);
}

.content {
    padding: 20px;
}

.exp {
    padding: 30px;
}

.exp img {
    border-radius: 25%;
}

.text {
    margin-top: auto;
    margin-bottom: auto;
}