<div class="header">
    <header>
        <div class="hero">
            <h1>Zachary Clay</h1>
        </div>
    </header>
</div>

<nav class ="navbar sticky-top justify-content-center navbar-expand-lg bg-dark">
    <a href="https://www.linkedin.com/in/zachary-clay-027215203/" target="_blank">
        <img src="../assets/images/LinkedIn.png" alt="LinkedIn" style="width:55px;height:auto;">
    </a>
    <a href="https://github.com/Zach-Clay" target="_blank">
        <img src="../assets/images/Github.png" alt="Github" style="width:60px;height:auto;">
    </a>
    <a href="https://www.instagram.com/zachclay__/" target="_blank">
        <img src="../assets/images/Instagram.png" alt="Instagram" style="width:60px;height:auto;margin-bottom:0px;">
    </a>
</nav>

<app-about-section></app-about-section>
<app-skills-section></app-skills-section>
<app-experience-section></app-experience-section>
<app-contact-section></app-contact-section>

<footer class="bg-dark">
    <p>Copyright &copy; Zachary Clay 2022</p>
</footer>
