.wrapper {
    background-color: rgb(73, 94, 126);
    padding-bottom: 40px;
}

.container h1 {
    padding: 35px;
    color: white;
}

.phone p, .email p {
    font-size: 20px;
    color: black;
    color:rgb(204, 204, 204);
}

.phone h4, .email h4 {
    color: rgb(227, 227, 227);
}